/* *************** */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

* :hover {
    transition: 0.3s;
}


a {
    text-decoration: none;
}

/* *************** */

body {
    width: 100%;
    background-color: #f2f2f2;
}

header {
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;

    background: #FBFBFB;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 20px;

}

.f {
    display: flex;
}

.header {
    margin: 0 auto;
    width: 1440px;
}

.header__top, .header__top_flex {
    height: 49px;
}


.header__top_flex {
    display: flex;
    align-items: center;
}

.header__logo {
    text-align: center;
    flex-grow: 1;
}

.header__logo svg {
    width: 136px;
    height: 50px;
}

.header__search {
    flex-grow: 1;
    width: 30%;
    padding: 0 50px;
}

.header__search>form {
    height: 36px;
    border: none;
    background: #ECECEC;
    border-radius: 10px;
}

.header_search_flex {
  display: flex;
  justify-content: flex-start;
  
}

.search__icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    fill: #8F8F8F;
}

.search__input {
    width: 100%;
    min-width: 200px;
}

.search__input>input {
    font-size: 14px;
    width: 100%;
    line-height: 20px;
    box-shadow: none;
    color: #8F8F8F;
    padding: 7px 12px;
    background: transparent;
    border: none;
    font-family: YS Text,Arial,Helvetica,sans-serif;
    margin: 0;
    outline: none;
    
}

.header__button {
    flex-grow: 1;
    text-align: center;
}

.button__write {
    width: 105px;
    margin-right: 10px;
    height: 36px;
    color: rgba(255, 255, 255, 1);
    border: none;
    background: #067AFF;
    border-radius: 15px;
    fill: #fff;
}

.button__write:hover {
    background:#0163d3;
}

.button__profile {
    width: 37px;
    height: 36px;
    border: none;
    background: #DBDBDB;
    border-radius: 10px;
    fill: #717171;
}

.header__bottom {
    height: 51px;
}

.header__bottom_flex {
    height: 51px;
}

.header__links {
    display: flex;
    height: 51px;
    justify-content: center;
    align-items: center;
}

.link__icon {
    display: inline;
}

.link__item {
    padding: 8px 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    border-radius: 5px;
    color: #8F8F8F;
}

.link__item:hover {
    background: #ECECEC;
    
    color: #343434;
}


.page__content {
    max-width: 1440px;
    margin: 0 auto;
    
}

.page__content_flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* **********************Left Filter*************** */

.category__flex {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 0 8px;
}

.url__content {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #343434;
    padding: 12px;
    border-radius: 15px;
}

.url__content>svg {
    margin-right: 10px;
}

.url__content:hover {
    background: #fffffff5;
    
}

/* ************************Article Vlock****************************** */

.article__section {
    margin: 0 50px;
    width: 625px;
    padding: 0 20px;
}

.article__post {
    padding: 20px 20px 0;
    background: #FDFDFD;
    border-radius: 15px;
    margin-bottom: 16px;
}

.article__top {
    display: flex;
    justify-content: space-between;
}

.top__wrap {
    display: flex;
    margin-bottom: 20px;
}
.author__photo {
    width: fit-content;
}

.author__info {
    padding: 0 0 0 10px;
}

.name__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #343434;;
}

.article__date {
    width: fit-content;
}

.date__add {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;


    color: #8F8F8F;
}

.subscribe__button {
    padding: 0 5px;
    width: 13px;
    height: 13px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.author__photo>.photo {
    /* background-image: url(/img/people/1.jpg); */
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.article__image>img{
    width: 545px;
    height: 220px;
    /* background: url(/img/post/1.jpg); */
    object-fit: cover;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: 50% -470px;
}



.article__title {
    margin: 20px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #343434;
}

.article__category {
    width: fit-content;
    height: fit-content;
    background: #ECECEC;
    border-radius: 10px;
    padding: 8px;
    
}

.article__category>.link__item {
    color: #343434;
}

.article__text>.article__short-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #343434;
}

.article__text>.article__read-more, .post-mini__read-more>a {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #717171;
}

.article__bottom {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.button__bottom>button {
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button__bottom {
    padding: 0 7px;
}

.button__bookmark {
    background-image: url(/img/UI/bookmark.svg);
    background-size: cover;
    
}

.button__like {
    background: url(/img/UI/angle-up.svg);
    background-size: cover;
  
}

.button__dislike {
    background: url(/img/UI/angle-down.svg);
    background-size: cover;
}



.rating__counter {
    display: block;
    align-self: center;
    margin: 0 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #01A611;
}



/* ********************Block Bookmarks*********************** */

.articles__bookmarks_title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #343434;
    margin-bottom: 20px;
}

.articles__bookmarks {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.article__post-mini {
    background: #FDFDFD;
    border-radius: 15px;
    padding: 8px 17px;
    margin-bottom: 20px;
}

.author-mini__wrapper {
    justify-content: space-between;
}

.post-mini__photo>.photo {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 50%;
}

.remove__bookmark {
    background: url(/img/UI/bookmark-solid.svg);
    background-size: cover;
    width: 18px;
    height: 18px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.post-mini__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    margin: 10px 0;
    color: #343434;
}

.post-mini__short-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #343434;
}

.post-mini__read-more {
    margin: 10px 0;
}

.post-mini__read-more>a {
    font-size: 12px;
}

  